<div class="ai3-remediation-wrapper">
  <div class="ai3-remediation">
    <div class="p-grid remediation-create-wrapper">
      <div class="ai3-verify-wrapper">
        <div class="ai3-verify-logo">
          <!-- <img (click)="goToDashboard()" src="/assets/img/ai3_login_logo.png" class="login-logo-ai3" alt="" title="" /> -->
        </div>
        <div class="ai3-verify-body">
          <div class="ai3-verify-text">Remediation features coming soon</div>
        </div>
        <div class="ai3-verify-footer">
          <!-- <img src="/assets/img/ai3_login_btm_logo.png" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
