<div class="p-grid no-gutter">
  <div class="p-col">
    <mat-form-field [floatLabel]="'never'" class="search-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of chips" [selectable]="selectable" [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Search" #chipInput [formControl]="chipCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" (keypress)="maskSpecialChar($event)"
          (keydown)="maskSpaceAfterColon($event)" (focusout)="onFocusOut($event)"
          oninput="this.value = this.value.toUpperCase()">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredOptions | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div *ngIf="chips.length != 0" class="p-col-fixed threat-control-buttons" style="width:100px">
    <button (click)="clearChips()" pButton type="button" label="Clear All"></button>
  </div>
</div>
